@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is index Page</h1>
    <h1 class="display-4">This is index Page</h1>
    <h1 class="display-4">This is index Page</h1>
    <h1 class="display-4">This is index Page</h1>
</div>