@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is index Page</h1>
    <h1 class="display-4">This is index Page</h1>
    <h1 class="display-4">This is index Page</h1>
    <h1 class="display-4">This is index Page</h1>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        @User.Identity?.Name!</a>

</div>